<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title>{% block title %}{% endblock %} - GlobalHitss Cursos</title>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <ul>
            <li><a id="menu-inicio" href="/">Inicio</a></li>
            <li><a id="menu-pedidos" href="/pedidos/">Listado de pedidos</a> | <a id="agregar-pedido" href="/pedidos/add" >Agregar Pedido</a></li>
            <li><a id="menu-cursos" href="/cursos/">Listado de cursos</a> | <a id="agregar-curso" href="/cursos/add" >Agregar Curso</a></li>
        </ul>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>